# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/rungenapp/evi_evidenciesib_SCHEMA_BASE.sql
/rungenapp/lastconfig.properties
/version-ruleset.xml

# Eclipse
.project
.classpath
.settings

/springutils/target
/mock/target
/loginib/target
/api/target
/loginib/test.properties

/loginib/202306-LOGINIB_EvidenciasSesion.pdf
/loginib/copia.properties.sample
/target
/.settings
/loginib-api-v1/settings.gradle
/loginib-api-v1/.github
/loginib-api-v1/.openapi-generator
/loginib-api-v1/api
/loginib-api-v1/gradle
/loginib-api-v1/.travis.yml
/loginib-api-v1/build.gradle
/loginib-api-v1/build.sbt
/loginib-api-v1/git_push.sh
/loginib-api-v1/gradle.properties
/loginib-api-v1/gradlew
/loginib-api-v1/gradlew.bat
/loginib-api-v1/test.properties
/loginibswagger/target
/loginib-api-v1/target
/loginib-api-generator/target
/loginib-api-v1/pom_backup.xml
